body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0018cf;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

section {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: #000; 
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

.user-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.user-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-list li span {
    flex: 1;
}

.user-list button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px; 
}

.user-list button.edit-btn {
    background-color: #007bff;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}